<form class="box" action="/placemark/{{placemark._id}}/add" method="POST">
  <label>Enter Farm Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="farmername">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Address" name="address">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Enterprise" name="enterprise">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Details</button>
</form>