<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Placemark Title</label> <input class="input" type="text" placeholder="Enter placemark title" name="title">
  </div>
  <div class="field">
     <input class="input" type="text" name="country" value="Ireland" readonly="true">
  </div>
  <button class="button is-link">Add Placemark</button>
</form>